<h1>{{title}}</h1>
<p>Created by: {{author}}</p>
<form action="/api/getAddressInfo" method="get">
  <h4>The below form will send a get request to /api/getAddressInfo</h4>
  <label for="title">Name (optional):</label>
  <input type="text" name="name" value=""><br>
  <input type="submit" value="Submit">
</form>